.hooks{
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
    background-color: burlywood;
    justify-content: center;
    padding: 30px;
}

.hook{
    text-align: center;
    align-content: center;
    padding: 20px 100px;
    background-color: cornsilk;
}

.buttons{
    display: flex;
    justify-content: center;
}

#textarea{
    width: 50%;
    height: auto;
}