.lifecycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    margin: 20px 10%;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
    background-color: cornflowerblue;
    padding: 20px 100px;
}

.lifecycle-method {
    text-align: left;
}